{% extends "base.html" %}
{% block content %}
<div class="col-md-8 col-sm-12 form pb-4">
	<div class="table-responsive">
		<table class="table table-bordered table-sm">
			<thead class="thead-light">
				<tr>
					<th>Name</th>
					<th>URL</th>
				</tr>
			</thead>

			<tbody>
				<tr>
					<td>GSON</td>
					<td><a href="https://google.com">https://google.com</a></td>
				</tr>
				<tr>
					<td>GSON</td>
					<td><a href="https://google.com">https://google.com</a></td>
				</tr>
				<tr>
					<td>GSON</td>
					<td><a href="https://google.com">https://google.com</a></td>
				</tr>
				<tr>
					<td>GSON</td>
					<td><a href="https://google.com">https://google.com</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="col-md-4 form">
	<div class="card text-white bg-primary border-dark mb-3" style="max-width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Test Data Websites</h5>
			<p class="card-text">This page contains a list of test data websites which could be used to download test files from, and uploading them to this platform.</p>
		</div>
	</div>						
</div>
{% endblock %}