{% extends "base.html" %}
{% block content %}
<div class="col-md-8 col-sm-12 pb-4">
	<form action="" class="form">

		<div class="form-group">
			<label for="filepath">File:</label>
			<div class="custom-file">
				<input type="file" class="custom-file-input" id="customFile">
				<label class="custom-file-label" id="custom-file-label" for="customFile">Choose file</label>
			</div>
			<small id="fileInfo" class="form-text text-muted">.db or .xml files only.</small>
		</div>

		<div class="form-group">
			<label for="testEnv">Testing Environment:</label>
			<select class="custom-select">
				<option selected value="4">Testing Environment 25 (Default)</option>
				<option value="1">Testing Environment 44</option>
				<option value="2">Testing Environment 27</option>
				<option value="3">Testing Environment 2</option>
			</select>
		</div>
		<div class="card bg-light mb-3">
			<div class="card-body">
				<h5 class="card-title">Testing Environment 27</h5>
				<p class="card-text">Test Environment Description Test Environment Description Test Environment Description Test Environment Description</p>
			</div>
		</div>
		<input type="submit" class="btn btn-primary" value="Upload">
	</form>
</div>
<div class="col-md-4 form">
	<div class="card text-white bg-primary border-dark mb-3" style="max-width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Upload A New Test</h5>
			<p class="card-text">Select a DB or XML file, choose the appropriate testing environment and click Upload!</p>
		</div>
	</div>						
</div>
{% endblock %}