{% extends "base.html" %}
{% set header, title, page = "My Testing Environments", "Testing Environments", "testing_environments" %}
{% block content %}
<div class="col-md-8 col-sm-12 form pb-4">
	<h4>Edit Testing Environment: <span class="text-primary">{{ data['name'] }}</span></h4>
	<hr />
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
				<div class="alert alert-{{ category }} alert-dismissible form" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{% autoescape false %}
					{{ message }}
				{% endautoescape %}
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<form action="" class="form" method="POST">
		<div class="form-group">
			<label for="name">Name:</label>
			<input type="text" class="form-control" aria-describedby="nameInfo" placeholder="Enter New Name" name="name" value="{{ data['name'] }}">
			<small id="nameInfo" class="form-text text-muted">Keep this field as it is if you don't want to change the name.</small>
		</div>
		<div class="form-group">
			<label for="platform">Platform:</label>
			<input type="text" class="form-control" aria-describedby="platformInfo" placeholder="Enter New Platform" name="platform" value="{{ data['platform'] }}">
			<small id="platformInfo" class="form-text text-muted">Keep this field as it is if you don't want to change the platform.</small>
		</div>
		<div class="form-group">
			<label for="descriptionInfo">Description:</label>
			<textarea class="form-control" rows="3" name="description">{{ data['description'] }}</textarea>
			<small id="descriptionInfo" class="form-text text-muted">Keep this field as it is if you don't want to change the description.</small>
		</div>
		<div class="form-check">
			<input class="form-check-input" type="checkbox" name="default" {% if data['default'] == True %}checked{% endif %}>
			<label class="form-check-label" for="defaultCheck1">
				Set it as default environment.
			</label>
		</div>
		<!-- Administrator Confirmation
		<hr />
		<div class="form-group">
			<label for="currentPassword">Admin Password:</label>
			<input type="password" class="form-control" placeholder="Admin Password">
			<small id="currentPasswordInfo" class="form-text text-muted">Enter your password to confirm the changes.</small>
		</div>
		-->
		<input type="submit" class="btn btn-primary" value="Update Testing Environment">
	</form>							
</div>
<div class="col-md-4 form">
	<h4>New Testing Environment:</h4>
	<hr />
	<form action="{{ url_for('manage.testing_environments')}}" method="post">
		<div class="form-group">
			<label for="envName">Name:</label>
			<input type="text" class="form-control" placeholder="Environment Name" name="name">
			<small class="form-text text-muted">Enter a unique name for this environment.</small>
		</div>								
		<div class="form-group">
			<label for="envPlatform">Platform:</label>
			<input type="text" class="form-control" placeholder="Environment Platform" name="platform">
		</div>								
		<div class="form-group">
			<label for="envDescription">Description:</label>
			<textarea class="form-control" rows="3" name="description"></textarea>
		</div>					
		<div class="form-check">
			<input class="form-check-input" type="checkbox" name="default">
			<label class="form-check-label" for="defaultCheck1">
				Set it as default environment.
			</label>
		</div>
		<input type="submit" class="btn btn-primary" value="Create">
	</form>
</div>
{% endblock %}