{% extends "base.html" %}
{% set header, title, page = "Settings Page", "Settings", "settings" %}
{% block content %}
<div class="col-md-8 col-sm-12">
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		  {% for category, message in messages %}
			<div class="alert alert-{{ category }} alert-dismissible form" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			{{ message }}
			</div>
		  {% endfor %}
		{% endif %}
	{% endwith %}
	<form action="" class="form" method="POST">
		<div class="form-group">
			<label for="username">Username:</label>
			<input type="text" class="form-control" aria-describedby="usernameInfo" placeholder="Enter New Username" name="username" value="{{ current_username }}" required> 
			<small id="usernameInfo" class="form-text text-muted">Keep this field as it is if you don't want to change your username.</small>
		</div>
		{% if user_type == "admin" %}
		<div class="form-group">
			<label for="username">Email:</label>
			<input type="text" class="form-control" aria-describedby="usernameInfo" placeholder="Enter New Email" name="email" value="{{ current_email }}" required>
			<small id="usernameInfo" class="form-text text-muted">Keep this field as it is if you don't want to change your email.</small>
		</div>
		{% endif %}
		<div class="form-group">
			<label for="newpassword">New Password:</label>
			<input type="password" class="form-control" aria-describedby="newpasswordInfo" placeholder="New Password" name="new-password">
			<small id="newpasswordInfo" class="form-text text-muted">Keep this field empty if you don't want to change your password.</small>
		</div>
		<div class="form-group pb-4">
			<label for="re-password">Repeat New Password:</label>
			<input type="password" class="form-control" placeholder="Repeat Password" name="re-new-password">
		</div>
		<hr />
		<div class="form-group">
			<label for="currentPassword">Current Password:</label>
			<input type="password" class="form-control" placeholder="Current Password" name="current-password" required>
			<small id="currentPasswordInfo" class="form-text text-muted">Enter your current password to confirm the changes.</small>
		</div>
		<input type="submit" class="btn btn-primary" value="Update Settings">
	</form>
</div>
<div class="col-md-4 form pt-4">
	<div class="card text-white bg-primary mb-3 border-dark" style="max-width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Settings</h5>
			<p class="card-text">Change your username or password.</p>
		</div>
	</div>						
</div>	
{% endblock %}