{% extends "base.html" %}
{% set header, title, page = "Test Data Websites", "Test Data Websites", "test_data_websites" %}
{% block content %}
<div class="col-md-8 col-sm-12 form pb-4">
	<div class="table-responsive">
		<table class="table table-bordered table-sm">
			<thead class="thead-light">
				<tr>
					<th>Name</th>
					<th>URL</th>
				</tr>
			</thead>

			<tbody>
			{% for row in websites %}
				<tr>
					<td>{{ row[1] }}</td>
					<td><a href="{{ row[0] }}">{{ row[0] }}</a></td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="col-md-4 form">
	<div class="card text-white bg-primary border-dark mb-3" style="max-width: 18rem;">
		<div class="card-body">
			<h5 class="card-title">Test Data Websites</h5>
			<p class="card-text">This page contains a list of test data websites which could be used to download test files from, and uploading them to this platform.</p>
		</div>
	</div>						
</div>
{% endblock %}