{% extends "base.html" %}
{% block content %}
<div class="col-md-8 col-sm-12 form pb-4">
	<h4>Tests Owner: <span class="text-primary">Martin</span></h4>
	<hr />
	<div class="card bg-light">
		<div class="card-body">
			<h2>Statistics:</h2>
			<hr />
			<div class="row">
				<div class="col-md-6">
					<div class="alert alert-dark text-center" role="alert">
						Tests: <span class="badge badge-dark">1987</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="alert alert-dark text-center" role="alert">
						Testing Environments: <span class="badge badge-dark">12</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-md-4 form">
	<h4>New Test Owner:</h4>
	<hr />
	<form action="" method="post">
		<div class="form-group">
			<label for="username">Username:</label>
			<input type="text" class="form-control" placeholder="Username">
			<small class="form-text text-muted">Enter a unique username.</small>
		</div>								
		<div class="form-group">
			<label for="password">Password:</label>
			<input type="password" class="form-control" placeholder="Password">
		</div>								
		<div class="form-group">
			<label for="rePassword">Repeat Password:</label>
			<input type="password" class="form-control" placeholder="Repeat Password">
		</div>					
		<input type="submit" class="btn btn-primary" value="Create">
	</form>
</div>
{% endblock %}